<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

<!--
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/citypulsedb?useTimezone=true&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">jdbc</property>
        <property name="hibernate.connection.password">admin</property>
-->
        <property name="hibernate.connection.url">jdbc:mysql://citypulsedb.ci9kq4cxpttn.us-east-2.rds.amazonaws.com:3306/akumadb</property>
        <property name="hibernate.connection.username">jdbc</property>
        <property name="hibernate.connection.password">heresmIghtY8AdmiN</property>        

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <!-- Connection pooling -->
        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.min_size">1</property>
		<property name="hibernate.c3p0.max_size">5</property>
		<property name="hibernate.c3p0.timeout">120</property>
		<property name="hibernate.c3p0.max_statements">10</property>
        
        <!-- Specify session context -->
        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
	
		<mapping class="com.jkmsteam.model.dto.*" />
    </session-factory>

</hibernate-configuration>